In [11]:
import pandas as pd

from astropy.io import fits

tyc2 = fits.open("ossaf/data/tyc2.fit")

tyc2_rows = tyc2[1]._nrows

In [12]:
tyc2[1].data
df_tyc2_1 = pd.DataFrame(tyc2[1].data.newbyteorder().byteswap())

In [14]:
tyc2[2].data
df_tyc2_2 = pd.DataFrame(tyc2[2].data.newbyteorder().byteswap())
df_tyc2_3 = pd.DataFrame(tyc2[3].data.newbyteorder().byteswap())

df_tyc2 = pd.concat([df_tyc2_1, df_tyc2_2, df_tyc2_3])
df_tyc2

,_RAJ2000,_DEJ2000,recno,TYC1,TYC2,TYC3,pmRA,pmDE,BTmag,VTmag,HIP,RA_ICRS_,DE_ICRS_
0,2.317504,2.231844,1,1,8,1,-16.299999,-9.000000,12.146,12.146,-2147483648,2.317542,2.231864
1,1.125582,2.267394,2,1,13,1,27.700001,-0.500000,10.488,8.670,-2147483648,1.125519,2.267396
2,1.056865,1.897832,3,1,16,1,-25.900000,-44.400002,12.921,12.100,-2147483648,1.056924,1.897933
3,0.050939,1.771467,4,1,17,1,32.099998,-20.700001,11.318,10.521,-2147483648,0.050866,1.771514
4,0.050449,1.771435,5,1,17,2,32.099998,-20.700001,10.772,10.093,-2147483648,0.050376,1.771482
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1141,292.913502,-76.656244,1142,9459,2313,1,NaN,NaN,12.326,10.799,-2147483648,292.913502,-76.656244
1142,315.360069,-75.429066,1143,9461,1990,2,NaN,NaN,11.590,11.300,-2147483648,315.360069,-75.429066
1143,323.376662,-80.039513,1144,9482,1241,1,NaN,NaN,11.058,10.380,-2147483648,323.376662,-80.039513
1144,236.591083,-83.000692,1145,9509,4022,1,NaN,NaN,12.287,11.276,-2147483648,236.591083,-83.000692
1145,242.615775,-84.235046,1146,9522,4321,1,NaN,NaN,12.165,11.277,-2147483648,242.615775,-84.235046

In [17]:
df_tyc2.VTmag.max()

15.192999839782715

In [18]:
df_tyc2.VTmag.min()

-1.0880000591278076

In [15]:
df_tyc2['ID'] = df_tyc2['TYC1'].astype(str) + '-' + df_tyc2['TYC2'].astype(str) + '-' + df_tyc2['TYC3'].astype(str)

In [16]:
import sqlite3

engine = sqlite3.connect('ossaf/data/tyc2.sqlite')
df_tyc2.to_sql('tyc2', con=engine, if_exists='replace', index=False)

2558647

FITS_rec([(  3.03708871,   1.57351477,     1,    2,  580, 1,   3.03708871,   1.57351477,   nan,    nan, 11.688, 11.171, -2147483648),
          (  3.43212271,   1.39153181,     2,    2,  976, 1,   3.43212271,   1.39153181,   nan,    nan, 11.311, 10.4  , -2147483648),
          (  4.36829249,   0.31946617,     3,    2, 1127, 2,   4.36837051,   0.31948829, -32.1,   -9.1,    nan, 10.279,        1397),
          ...,
          (248.35483403, -85.18243157, 17586, 9526,  219, 1, 248.35674702, -85.1817656 , -66.1, -274. ,    nan, 13.077,       81063),
          (320.79252118, -85.62662503, 17587, 9528, 1301, 1, 320.79252118, -85.62662503,   nan,    nan, 11.626, 10.848, -2147483648),
          (352.32754215, -85.7090409 , 17588, 9529, 1923, 1, 352.32737973, -85.70901878,   5. ,   -9.1,  9.595,  8.528,      115928)],
         dtype=(numpy.record, [('_RAJ2000', '>f8'), ('_DEJ2000', '>f8'), ('recno', '>i4'), ('TYC1', '>i2'), ('TYC2', '>i2'), ('TYC3', 'u1'), ('RA_ICRS_', '>f8'), ('DE_ICRS_', '>f8'), ('pmRA', '>f4'), ('pmDE', '>f4'), ('BTmag', '>f4'), ('VTmag', '>f4'), ('HIP', '>i4')]))